:root {
	  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin display-flex($direction: row, $justify: flex-start, $align: flex-start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin text-truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body {
  @include display-flex(column, flex-start, flex-start);
  padding: 1rem 2rem
}

.header-container {
  @include display-flex(column, space-between, center);
  background-color: var(--secondary-color);

  padding: 1rem;

    .logo-webname {
      @include display-flex(row, center, center);
      font-size: 1rem;
      font-weight: 700;
      color: var(--primary-color);

      .logo {
        margin-right: 0.5rem;
        width: 4vw;
      }
    }

    .search-container {
      @include display-flex(row, center, center);
      margin-top: 1rem;
      padding: 1rem;
      background-color: var(--success-color);
        .icon {
          width: 1vw;
        }

        input {
          background-color: var(--success-color);
          border: none;
        }
      }
    }
