$background-color: #f0f0f0;
$accent-color: #0074FF;
$primary-font: 'Roboto', sans-serif;

$font-size-title: 24px;
$font-size-subtitle: 20px;


// Google Fonts & Material Icons
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24,
  'COLR' $accent-color;
  font-size: 24px;
}

.material-symbols-filled {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: 24px;
}

.material-icons-outlined {
  color: $accent-color;
  font-size: 25px;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

// Mixins
@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin text-truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin text-size($size) {
  font-size: $size;
}

// Global Styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $primary-font;
}

body {
  @include flex(row, flex-start, start);
  background-color: $background-color;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  width: 100vw;
}

.header-container {
  @include flex(column, space-between, start);
  background-color: $background-color;
  padding: 20px;
  width: 18vw;

  .logo-title-wrapper {
    @include flex(row, flex-start, center);
    gap: 10px;

    .logoHeader {
      width: 40px;
      height: 40px;
    }
  }

.search-container {
  @include flex(row, flex-start, center);
  background-color: #e2e2e2;
  border-radius: 10px;
  width: 100%;
  margin-top: 20px;


  .search-input {
    width: 90%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    background-color: #e2e2e2;
  }
}

  .nav-container {
    @include flex(column, space-between, start);
    width: 100%;
    padding: 20px 0;

    .nav-title {
      font-size: 14px;
      font-weight: 500;
      color: #979797;
      margin: 10px 0;
    }

    .nav-list {
      @include flex(column, space-between, start);
      width: 100%;
      gap: 16px;

      .nav-item {
        @include flex(row, space-between, center);
        width: 100%;
        flex: 1;
        gap: 5px;

        .nav-link {
          @include flex(row, flex-start, center);
          gap: 10px;
          text-decoration: none;
          color: #333;
          font-size: 16px;
          font-weight: 400;
          transition: color 0.3s ease;

          &:hover {
            color: $accent-color;
          }
        }

        .task-amount {
          background-color: #dfdfdf;
          font-size: 14px;
          font-weight: 400;
          color: #575757;;
          padding: 4px 10px;
          border-radius: 10px;
        }
      }
    }
  }
}

.hr-break {
  margin-top: 20px;;
  width: 100%;
  border: 1px solid #d7d7d7;
}

.main-container {
  background-color: rgb(255, 255, 255);
  flex: 1;
  width: 100%;
  height: 100vh;

  .page-heading-wrapper {
    @include flex(row, space-between, center);
    padding: 20px;

    .page-heading {
      @include flex(column, center, start);
      padding: 5px;

      .page-title {
        @include text-size(22px);
        color: #5d5c5c;
      }

      .page-date {
        @include text-size(16px);
        color: #979797;
      }
    }

    .task-button-wrapper {
      :hover {
        cursor: pointer;
      }
      
      .add-task-button {
        @include flex(row, center, center);
        padding: 5px 18px;
        border: none;
        border-radius: 10px;
        color: #0074FF;
        background-color: #d9eaff;

        :hover {
          cursor: pointer;
        }
      }
    }
  }

  .main-body {
    
  }
}

.side-wrapper {
  padding: 20px;

  .user-account {
    @include flex(row, space-between, center);
    width: 20vw;
    gap: 5px;

    .user-container {
      @include flex(row, center, center);

      .user-profile {
        width: 40px;
        border-radius: 50px
      }
        .user-account-info {
          padding-left: 8px;
          gap: 1px;
    
          .user-name {
            font-size: 14px;
            font-weight: 500;
          }
    
          .user-email {
            font-size: 12px;
            font-weight: 400;
            color: #979797;
          }
      }
    }

    .user-notifications-settings-container {
      @include flex(row, center, center);
      gap: 10px;
    }
  }

  .side-calendar-container {
    @include flex(column, center, center);
    width: 20vw;

    #calendar {
      padding-top: 30px;
      flex: 1;
      width: 100%;
      
      .calendar-heading {
        color: $accent-color;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;

        tbody {

          tr {
            margin: auto;
            width: 100%;
            
            td {
              text-align: center;
              height: 34px;
              width: 20px;
            }
            
            .today {
              background-color: #0074FF;
              color: #fff;
              border-radius: 50%;
            
            }

            .day {
              width: 36px;
              height: 37px;
            }
          }
        }
      }
    }
  }
  .completed-task-container {

    .completed-task-title {
      font-weight: 500;
    }
  }
}




#dialog-modal {
  display: none;
  //@include flex(column, center, center);
  width: 400px;
  height: 80px;
  top: 50%;
  margin: auto;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background: #d9eaff;
  gap: 5px;

  .input {
    border: none;
    width: 100%;
    background: none;
  }
    .input:focus {
      outline: none;
    }

  .dialog-hr {
    width: 100%;
    border: 1px solid #d7d7d7;
  }

  .task-buttons-wrapper {
    @include flex(row, center, space-between);
  }

  //Input css
  .input-task {
    font-size: 24px;
  }
  .input-description {
    font-size: 12px;
  }

}